* {
    box-sizing: border-box;
}
html{
    background-color: rgba(244, 174, 21, 0.891);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    margin-top: 8px;
    background-color: dimgrey;
}
.title {
    color: #FFFFFF;
    margin: auto;
    width: 350px;
    text-align: center;
    background-color: #476072;
}
h2 {
    background-color: rgb(119, 169, 210);
    color: #FFF;
    text-align: center;
    margin: auto;
}
p {
    background-color: #f6f3b0;
}
ul {
    background-color: #f6f3b0;
}
ol {
    background-color: #f6f3b0;
}